<div id="toTop"></div>
<div class="footer">
  <ul class="footer-menu">
    <li class="main-menu-item"><a href="#">Work</a></li>
    <li class="main-menu-item"><a href="#">Services</a></li>
    <li class="main-menu-item"><a href="#">Technologies</a></li>
    <li class="main-menu-item"><a href="#">Team</a></li>
    <li class="main-menu-item"><a href="#">Jobs</a></li>
    <li class="main-menu-item"><a href="#">Blog</a></li>
  </ul>
</div>
<div class="sub-bottom-text-footer"><a href="#">Bla blabla </a>| <a href="#">Bla blabla </a>| <a href="#">Bla blabla</a></div>