<div class="header-abslt">
  <div class="header-center">
    <div class="header-left">
      <%= link_to image_tag( asset_path('logo.png')), root_path %>
    </div>
    <div class="header-right">
      <ul class="main-menu">
        <li class="main-menu-item"><a href="#">Главная</a></li>
        <li class="main-menu-item"><a href="#">Проекты</a></li>
        <li class="main-menu-item"><a href="#">Портфолио</a></li>
        <li class="main-menu-item"><a href="#">Жизнь</a></li>
        <li class="main-menu-item"><a href="#">Контакты</a></li>
      </ul><!--<a href="mailto:joe@example.com?subject=feedback" "email me" class="mail-to-button"></a>-->
    </div>
  </div>
</div>
<div class="header-abslt-scroll">
  <div class="header-center">
    <div class="header-left">
      <%= link_to image_tag( asset_path('logo.png')), root_path %>
    </div>
    <div class="header-right">
      <ul class="main-menu">
        <li class="main-menu-item"><a href="#">Главная</a></li>
        <li class="main-menu-item"><a href="#">Проекты</a></li>
        <li class="main-menu-item"><a href="#">Портфолио</a></li>
        <li class="main-menu-item"><a href="#">Жизнь</a></li>
        <li class="main-menu-item"><a href="#">Контакты</a></li>
      </ul><!--<a href="mailto:joe@example.com?subject=feedback" "email me" class="mail-to-button"></a>-->
    </div>
  </div>
</div>